# IntelliJ cruft
/out/
/.idea
/*.iml
/lib/

# Eclipse
.classpath
.project

# Misc cruft
/META-INF
/bin

# Ant build script
/build
/build-lib
/dist

# Temporary tests and BEAST log files
*.state
*.trees
*.log
*.newick
*.nexus

# MacOS cruft
*.DS_Store
