name: Deploy docs website
on:
  push:
    branches:
      - main
    paths:
      - doc/**
      - mkdocs.yml

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs mkdocs-cinder pymdown-extensions
      - run: mkdocs gh-deploy --force
